body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Montserrat', serif;
  font-size: 562.5%;
  margin: 50px auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  text-align: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

hr {
  border: none;
  border-top: dotted 10px;
  width: 30%;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #EAF6F6;
}

.description {
  display: inline-block;
  text-align: center;
  width: 50%;
}

.subtitle {
  font-weight: normal;
  font-size: 200%;
  margin-top: 0;
}

.skill-row {
  margin: 50px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.top-container {
  background-color: #eeeeee;
  position: relative;
  padding-top: 100px;
  font-family: 'Montserrat', serif;
  color: #66BFBF;
}

.middle-container {}

.bottom-container {
  margin-bottom: 0;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.jerry-img {
  margin-top: 50px;
  width: 10%;
}

.code-image {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.fish-image {
  width: 15%;
  float: right;
  margin-left: 30px;
  margin-bottom: 100px;
}

.skills {
  padding-bottom: 50px;
}

.copywrite {
  color: #EAF6F6;
}

.footer-link {
  color: #11999E;
}
